.sortFindWraper {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortFindWraper input {
  width: 60%;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.inputWraper {
  width: 60%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textArea {
  height: 300px;
}
